@use "./fonts";
@use "./spacing";

button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

.btn-stack {
    & > .btn {
        @extend .btn-fill;
    }

    & > .btn:not(:first-child) {
        margin-top: spacing.$sm;
    }
}

.btn {
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    font-weight: bold;

    &:disabled {
        opacity: 0.4;
    }
}

.btn-sm {
    font-size: fonts.$sm;
}

.btn-primary {
    &.btn-variant-outline {
        background-color: #fff;
        color: #3182ce;
        border: 1px solid currentColor;
    }

    &.btn-variant-solid {
        background-color: #3182ce;
        color: #fff;
    }
}

.btn-secondary {
    &.btn-variant-outline {
        background-color: #fff;
        color: #000;
        border: 1px solid #edf2f7;
    }

    &.btn-variant-solid {
        background-color: #edf2f7;
        color: #000;
    }
}

.btn-fill {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

input, button, textarea, select {
    font: inherit;
}
