$sm: 0.2rem;
$md: 1rem;

.m-sm {
    margin: $sm;
}

.ml-sm {
    margin-left: $sm;
}

.ml-md {
    margin-left: $md;
}

.mr-md {
    margin-right: $md;
}

.mt-md {
    margin-top: $md;
}

.my-md {
    margin-top: $md;
    margin-bottom: $md;
}
