@use "./colors";
@use "./flex";
@use "./forms";
@use "./spacing";
@use "./text";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: text.$font-family;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1rem;
}

.heading-section {
    // TODO: remove duplication with tab styling
    border-bottom: 2px solid colors.$border-light;
    font-weight: normal;
    margin-bottom: spacing.$md;
    padding: 0.6rem 1rem;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}
