@use "./colors";
@use "./flex";
@use "./forms";
@use "./text";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: text.$font-family;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1rem;
}

.h-100 {
    height: 100%;
}

.d-block {
    display: block;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}
