@font-face {
    font-family: "ReenieBeanie";
    src: url(/fonts/ReenieBeanie/ReenieBeanie-Regular.woff2);
}


$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

.text-center {
    text-align: center;
}
