@use "../scss/colors";
@use "../scss/flex";

.widgets-ItemList {
    font-size: 14px;

    .widgets-ItemList_Item {
        @extend .flex-container-row;

        border: 1px solid colors.$border;

        &:not(:first-child) {
            border-top: none;
        }
    }

    .widgets-ItemList_selection-status {
        width: 10px;
    }

    .widgets-ItemList_selection-status--selected {
        background-color: colors.$border;
    }

    .widgets-ItemList_contents {
        @extend .flex-item-fill;
        @extend .flex-container-row;
        @extend .justify-content-space-between;

        padding: 3px 10px 3px 5px;
    }

    .widgets-ItemList_delete {
        color: colors.$danger;
    }
}
