@use "../scss/colors";
@use "../scss/forms";
@use "../scss/spacing";

.widgets-Tabs_tablist {
    border-bottom: 2px solid colors.$border-light;
    margin-bottom: spacing.$md;

    & > button {
        padding: 0.6rem 1rem;

        &[aria-selected=true] {
            color: #2b6cb0;
            border-bottom: 2px solid currentColor;
        }
    }
}
